layout pyenv 3.10.4
dotenv

# Use Poetry's virtual environment
layout poetry

# https://docs.python.org/3/library/devmode.html
export PYTHONDEVMODE="1"
export PYTHONUNBUFFERED="1"
export MPLBACKEND="Qt5Agg"
